<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css"/>
	<link href="../../static/css/simple-sidebar.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>mTP Page</title>
    {% load crispy_forms_tags %}
</head>
<body>

    {% include "./navbar.html" %}
	<br>
	<br>
	<div class="d-flex" id="wrapper">
		{% include "./sidebar.html" %}
		<div class="container-fluid">
			<header class="jumbotron my-4">
				<h1 style="text-align:center">mTP mode</h1>
			</header>

	    <div class="container-fluid">
			<div class="container-fluid">
				<div class="card h-100">
					<div class="card-body">
						<h4> Description of the mTP mode </h4>
                    </div>
                </div>
                <div class="card h-100">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                          {{ form }}

                          <br>
                            <button type="submit">Upload</button>
                          </form>
					</div>
				</div>
			</div>
                {% if form.errors %}
                    {% for field in form %}
                         {% for error in field.errors %}
                             <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                             </div>
                         {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
		</div>
        </div>
	</div>

    {% include "./footer.html" %}
    <script src="../../static/jquery/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
