<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css"/>
	<link href="../../static/css/simple-sidebar.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nTP Page</title>
</head>
<body>
    {% include "./navbar.html" %}
    <br>
	<br>
	<div class="d-flex" id="wrapper">
		{% include "./sidebar.html" %}
		<div class="container-fluid">
			<header class="jumbotron my-4">
				<h1 style="text-align:center">nTP mode</h1>
			</header>

    	<div class="container-fluid">
			<div class="container-fluid">
				<div class="card h-100">
					<div class="card-body">
						<h4> Description of the nTP mode </h4>
                    </div>
                </div>
                <div class="card h-100">
                    <div class="card-body">
					<form action="{% url "HHmitosig:nTP_page" %}" method="post">
					{% csrf_token %}
                    {{ form.as_p }}
                    <br>
					<input type="submit" value="Submit">
					</form>
					</div>
				</div>
			</div>
		</div>
        </div>
	</div>
    {% include "./footer.html" %}
    <script src="../../static/jquery/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
