<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    <img src="{% static "img/hold_my_beer.jpg" %}" alt="Hold my beer">
</body>
</html>
