<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
</head>
<body>
	{% include "./navbar.html" %}
	<br>
	<div class="container-fluid">
		<header class="jumbotron my-lg-5">
			<h1 style="text-align:center">About IBDM Toolkit</h1>
		</header>
	<div class="row text-center">
		<h2> Coming soon </h2>
	</div>
	</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
	{% include "./footer.html" %}
</body>
</html>