
<div class="col-lg-3 col-md-6 mb-4">
	<div class="card h-100">
		<a href="{% url 'HHmitosig:HHmitosig_home' %}">
			<img class="card-img-top" src="http://placehold.it/500x325" alt=""></a>
		<div class="card-body">
			<a href="{% url 'HHmitosig:HHmitosig_home' %}">
				<h4 class="card-title">HH-Motif</h4>
			</a>
			<p class="card-text">Desc</p>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-6 mb-4">
	<div class="card h-100">
		<a href="{% url 'HHmitosig:HHmitosig_home' %}">
			<img class="card-img-top" src="http://placehold.it/500x325" alt=""></a>
		<div class="card-body">
			<a href="{% url 'HHmitosig:HHmitosig_home' %}">
				<h4 class="card-title">Another</h4>
			</a>
			<p class="card-text">Desc</p>
		</div>
	</div>
</div>
