<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% load crispy_forms_tags %}
</head>
<body>
	{% include "navbar.html" %}
	<br>
	<div class="container-fluid">
		<header class="jumbotron my-4">
			<h1 style="text-align:center" >Contact page</h1>
		</header>
	<div class="text-center">
		<p>
		    <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-outline-secondary"/>
            </form>
		</p>
	</div>
	</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% include "footer.html" %}
</body>
</html>
