{%  load staticfiles %}
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white"> <img src= {%  static 'logo-ibdm-200.png' %} style="max-width: 200px"> Copyright &copy; Your Website 2019</p>
	</div>
</footer>
