<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IBDM toolkit</title>
</head>
<body>
	{% include "./navbar.html" %}
	<br>
	<br>
	<br>
	<br>
	<div class="container-fluid" >
		<header class="jumbotron my-4">
			<h1 style="text-align:center" >Welcome to IBDM toolkit (temporary name)</h1>
		</header>
	<div class="row text-center">
		{% include "./app.html" %}
	</div>
	</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
	{% include "./footer.html" %}
</body>
</html>