
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" style="color:white" > <img src="../static/img/ibdm_logo_vertical.png" style="max-width: 50px"> IBDM Toolkit</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive" style="">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'main_home' %}">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contact_form' %}">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script src="../static/jquery/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
