<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to IBDM toolkit (temporary name)</h1>
    <br>
    <a href="{% url 'HHmitosig:HHmitosig_home' %}">HH-Mitosig</a>
</body>
</html>
