<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    <img src="{% static "img/hold_my_beer.jpg" %}" alt="Hold my beer">
</body>
</html>